*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
html,body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./bg.jpg");
    background-size: cover;
}
form{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 16px;
    border-radius: 5px;
}
h1,h2{
    text-align: center;
}
label{
    font-weight: bold;
}
input{
    padding: 8px;
}
button{
    padding: 10px;
    background-color: brown;
    color: white;
    border-radius: 5px;
}
.passPower{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}
span{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
span:nth-child(1)
{
    background-color: red;
}
span:nth-child(2)
{
    background-color: red;
}
span:nth-child(3)
{
    background-color: yellow;
}
span:nth-child(4)
{
    background-color: green;
}
span:nth-child(5)
{
    background-color: green;
}